<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Rabbit Search</title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/<%= filename %>.css">
        <link rel="icon" href="/img/icons/rabbit.svg" type="image/icon type">
    </head>
    <body>
        <div class="content">
            <header><%- include('header'); %></header>
            <main><%- body %></main>
            <footer>
                &copy; Copyright <%= moment().year(); %> Rabbit Search | Guilherme Silva
            </footer>
        </div>
    </body>
</html>