<h1>Login</h1>
<form action="/login" method="POST">
    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
    <% if (locals.token) { %>
    <input type="hidden" name="token" value="<%= locals.token %>">
    <% } %>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="<%= (locals.fields && locals.fields.email) ? locals.fields.email : '' %>" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>
<div>Don't have an account? <a href="/register">Register</a> here</div>