<h1>Reset Your Password</h1>
<p>Enter your email below, and you will receive an email with instructions to reset your password!</p>
<form action="/pwreset" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="<%= (fields && fields.email) ? fields.email : '' %>" required>
    </div>
    <button type="submit">Reset</button>
</form>
<div>Remember your password? <a href="/login">Login</a> here</div>