.title {
    padding: 10px;
}

.description-wrapper {
    overflow: auto;
    margin-bottom: 50px;

    > * {
        float: inline-start;
    }

    .rabbit-gif-wrapper {
        width: 40%;
        max-width: 300px;
        margin-right: 40px;

        .rabbit-gif {
            width: 100%;
            border-radius: 10px;
            border: 2px solid black;
        }
    }

    .description {
        width: 100%;
        max-width: 600px;
        font-size: 20px;

        button {
            padding: 15px;
            font-size: 22px;
            border-radius: 10px;
            background: rgb(121, 156, 230);
        }

        .choice-wrapper {
            width: fit-content;

            .choice {
                width: 100%;
            }

            .create {
                background: rgb(145, 121, 230); 
            }
        }
    }
}