.title {
  padding: 10px;
}
.title .heading {
  width: fit-content;
  position: relative;
}
.title .heading .badge-wrapper {
  position: absolute;
  bottom: 0;
  left: 100%;
  display: flex;
  margin-left:15px;
}
.title .heading .badge-wrapper .badge {
  position: relative;
  margin-right: 5px;
  cursor: auto;
}
.title .heading .badge-wrapper .badge .badge-hint {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  margin-top: 5px;
  margin-left: -10px;
  padding: 10px;
  border-radius: 7px;
  background: #8795a9;
  opacity: 0;
  transition: 0.25s;
}
.title .heading .badge-wrapper .badge .icon:hover ~ .badge-hint {
  opacity: 1;
}
.title .heading .badge-wrapper .badge .badge-hint .badge-name {
  margin-top: 0;
  margin-bottom:10px;
  width: max-content;
}
.description-wrapper {
  overflow: auto;
  margin-bottom: 50px;
}
.description-wrapper > * {
  float: inline-start;
}
.description-wrapper .rabbit-gif-wrapper {
  width: 40%;
  max-width: 300px;
  margin-right: 40px;
}
.description-wrapper .rabbit-gif-wrapper .rabbit-gif {
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
}
.description-wrapper .description {
  width: 100%;
  max-width: 600px;
  font-size: 20px;
}
.description-wrapper .description .choice-wrapper {
  width: fit-content;
}
.description-wrapper .description .choice-wrapper .choice {
  position: relative;
  display: block;
}
.description-wrapper .description .choice-wrapper .choice a {
  text-decoration: none;
}
.description-wrapper .description .choice-wrapper .choice .button {
  padding: 15px;
  font-family: 'Arial';
  font-size: 22px;
  letter-spacing: -0.5px;
  text-align: center;
  border-radius: 10px;
  background: #799ce6;
}
.description-wrapper .description .choice-wrapper .choice .create {
  background: #9179e6;
}
.description-wrapper .description .choice-wrapper .child-rating-wrapper {
  position: absolute;
  top: 0;
  left: 100%;
  padding-top: 10px;
  padding-left: 20px;
  display:flex;
}
.description-wrapper .description .choice-wrapper .child-rating-wrapper .child-rating {
  padding: 5px 15px;
  margin-right: 5px;
  border-radius: 5px;
}
.description-wrapper .description .rating-container .rating-option {
  width: fit-content;
  display: flex;
}
.description-wrapper .description .rating-container .rating-option button {
  width: 50px;
  height: 40px;
  margin-right: 10px;
}

.description-wrapper .description .rating-container .rating-option button img {
  width: auto;
}

